.location {
  border:2px black solid;
  width:15px;
  height:15px;
  z-index:5;
}

.image-container {
  position:relative;
}

body{
  display:flex;
  justify-content:center;
}

header {
  display:flex;
  align-items:center;
  justify-content:center;
}

.find-waldo{
  display:flex;
  flex-direction: column;
  align-items:center;
}

.rightSide {
  margin-left:auto;
}

h3 { 
  margin:0px;
}

.waldoPhoto {
  margin-top:30px;
  width:15%;
  height:auto;
}

.middle {
  text-align:center;
  margin-left:auto;
}